*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e2d3b;
}

.headband{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e3a46;
  color: white;
  height: 100%;
}

.headband img {
  width: 80%;
}

.headband .author, .year {
  color: grey
}

/* ! da togliere */

.debug {
  border: 1px solid greenyellow;
  min-height: 50px;
}